@model FoodDash.Web.Models.Account.ProfileModel

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="home" style="padding:40px 0; background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;">
    <div class="container">
        <div class="textwidget">
            <i class="fa fa-star roundicon star"></i>
            <div class="contactstyle topform" style="margin-top: 2em">
                <h4 style="text-align: center">My profile with FoodDash</h4>
                <hr />
                <form asp-action="Profile">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" disabled/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" disabled/>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" disabled/>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" disabled/>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input id="edit-profile-save-btn" type="submit" value="Save" class="btn btn-primary" style="display:none"/>
                        <div style="margin-top: 1em; text-align: center;">
                            <a id="edit-link"
                               style="color: var(--fd-orange); cursor: pointer" 
                               onclick="toggleEdit()">
                                Something doesn't look right? Edit your details!
                            </a>
                            <a id="cancel-link"
                               style="color: var(--fd-orange); display: none" 
                               href="@Url.Action("Profile", "Account")">
                                Everything looks ok? Cancel!
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function toggleEdit() {
        var cancelLink = document.getElementById('cancel-link');
        var editLink = document.getElementById('edit-link');
        var inputFields = document.getElementsByClassName('form-control');
        var saveBtn = document.getElementById('edit-profile-save-btn');
        
        editLink.style.display = "none";
        cancelLink.style.display = "block";
        saveBtn.style.display = "block";

        for (var index = 0; index < inputFields.length; index++) {
            inputFields[index].disabled = false;
        }
    }
</script>