@model FoodDash.Web.Models.Account.RegisterModel

@{
    ViewData["Title"] = "Create an account for FoodDash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="padding:40px 0; background-position: center; background-repeat: no-repeat;background-size: cover; background-attachment:fixed;">
    <div class="container">
        <div class="textwidget">
            <i class="fa fa-star roundicon star"></i>
            <div class="contactstyle topform" style="margin-top: 2em">
                <h4 style="text-align: center">
                    Create an account for FoodDash
                </h4>
                <hr />
                <form asp-action="Register" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" class="form-control" style="padding: 0px; border: none; border-radius: 0px;"/>
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <div style="margin-top: 1em; text-align: center;">
                            <a href="@Url.Action("Login")" style="color: var(--fd-orange)">
                                Already got an account? Login now!
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
