@model FoodDash.Web.Models.Product.ProductModel

@{
    ViewData["Title"] = Model.ProductId > 0 ? "Edit product" : "Add a product for this restaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="padding:40px 0; background-position: center; background-repeat: no-repeat;background-size: cover; background-attachment:fixed;">
    <div class="container">
        <div class="textwidget">
            <i class="fa fa-star roundicon star"></i>
            <div class="contactstyle topform" style="margin-top: 2em">
                <h4 style="text-align: center">
                    @if (Model.ProductId > 0)
                    {
                        <text>Edit product</text>
                    }
                    else
                    {
                        <text>Add a new product</text>
                    }
                </h4>
                <hr />
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="ProductId" hidden />

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProductTypeId" class="control-label"></label>
                        <select asp-for="ProductTypeId" class="form-control" asp-items="ViewBag.ProductTypeId"></select>
                        <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ServingSize" class="control-label"></label>
                        <input asp-for="ServingSize" class="form-control" />
                        <span asp-validation-for="ServingSize" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="IsVegetarian" class="control-label"></label>
                        <input asp-for="IsVegetarian" class="form-control" type="checkbox" />
                        <span asp-validation-for="IsVegetarian" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" class="form-control" type="file" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @if (Model.RestaurantId > 0)
                        {
                            <input type="submit" value="Save changes" class="btn btn-primary" />
                            <input type="button" value="Delete restaurant" class="btn btn-danger" onclick="window.location.href='@Url.Action("Delete", "Restaurant", new { restaurantId = Model.RestaurantId})'" />
                        }
                        else
                        {
                            <input type="submit" value="Add" class="btn btn-primary" />
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
