@model FoodDash.Web.Models.Restaurant.RestaurantDetailsModel

@{ 
    ViewData["Title"] = Model.Name;

    var lastProductCategoryId = 0;
}

<div class="center" style="margin-top: 2rem">
    <div style="text-align: center; padding-right: 70px; margin-bottom: 1rem">
        <input type="button" value="Add product" class="btn btn-primary" onclick="window.location.href='@Url.Action("Add", "Product", new { restaurantId = Model.RestaurantId})'"/>
    </div>

    @foreach (var product in Model.Products)
    {
        if (lastProductCategoryId != product.ProductTypeId)
        {
            //Show a line break with section name
            lastProductCategoryId = product.ProductTypeId;
        }

        @await Html.PartialAsync("~/Views/Product/_ProductCard.cshtml", product)
    }
</div>

<script>
    @foreach(var product in Model.Products)
    {
        <text>
        document.getElementById("add_to_cart_btn_@product.ProductId").addEventListener("click", function() {
                  $.ajax({
            type: "POST",
                url: @Url.Action("Order", "Add", new { productId = product.ProductId }),
                success: function(result) {
                },
                error: function(result) {
                }
            });
        });
        </text>
    }
</script>